<a href="https://colab.research.google.com/github/cmannnn/predict_future_sales/blob/main/predict_future_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predict Future Sales

You are provided with daily historical sales data. The task is to forecast the total amount of products sold in every shop for the test set. Note that the list of shops and products slightly changes every month. Creating a robust model that can handle such situations is part of the challenge.

# File descriptions

itemcats_df - supplemental information about the items categories.

items_df - supplemental information about the items/products.

salestrain_df - the training set. Daily historical data from January 2013 to October 2015.

shops_df - supplemental information about the shops.

test.csv - the test set. You need to forecast the sales for these shops and products for November 2015.

sample_submission.csv - a sample submission file in the correct format.

# Imports

In [ ]:
# imports
import os

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

#import specific sklearn packages
from sklearn.model_selection import train_test_split

In [ ]:
!pip install kaggle

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))


!mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/ && chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json
User uploaded file "kaggle.json" with length 63 bytes

In [ ]:
!kaggle competitions list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
ref                                            deadline             category            reward  teamCount  userHasEntered
---------------------------------------------  -------------------  ---------------  ---------  ---------  --------------
contradictory-my-dear-watson                   2030-07-01 23:59:00  Getting Started     Prizes         77           False
gan-getting-started                            2030-07-01 23:59:00  Getting Started     Prizes        161           False
tpu-getting-started                            2030-06-03 23:59:00  Getting Started  Knowledge        370           False
digit-recognizer                               2030-01-01 00:00:00  Getting Started  Knowledge       2451           False
titanic                                        2030-01-01 00:00:00  Getting Started  Knowledge      19027            True
house-prices-advanced-regression-techniques    2030-01-01 00:00:00  Getting Started  Knowledge       4862           False
connectx                                       2030-01-01 00:00:00  Getting Started  Knowledge        433           False
nlp-getting-started                            2030-01-01 00:00:00  Getting Started  Knowledge       1254           False
competitive-data-science-predict-future-sales  2022-12-31 23:59:00  Playground           Kudos      10455            True
jane-street-market-prediction                  2021-08-23 23:59:00  Featured          $100,000       4245           False
hungry-geese                                   2021-07-26 23:59:00  Playground          Prizes        303           False
hashcode-2021-oqr-extension                    2021-05-25 23:59:00  Playground       Knowledge         17           False
indoor-location-navigation                     2021-05-17 23:59:00  Research           $10,000        386           False
hpa-single-cell-image-classification           2021-05-11 23:59:00  Featured           $25,000        223           False
vinbigdata-chest-xray-abnormalities-detection  2021-03-30 23:59:00  Featured           $50,000        780           False
hubmap-kidney-segmentation                     2021-03-25 23:59:00  Research           $60,000       1107           False
ranzcr-clip-catheter-line-classification       2021-03-15 23:59:00  Featured           $50,000       1165           False
ncaaw-march-mania-2021                         2021-03-15 23:59:00  Playground          Prizes         20           False
ncaaw-march-mania-2021-spread                  2021-03-15 23:59:00  Playground       Knowledge          3           False
ncaam-march-mania-2021-spread                  2021-03-14 23:59:00  Playground       Knowledge          4           False

In [10]:
!mkdir -p predict_future_sales

In [9]:
uploaded2 = files.upload()

Saving test.csv to test.csv
Saving shops.csv to shops.csv
Saving sample_submission.csv to sample_submission.csv
Saving sales_train.csv to sales_train.csv
Saving items.csv to items.csv
Saving item_categories.csv to item_categories.csv

# Importing All Predict Sales Data

In [17]:
#importing all the data frames
itemcats_df = pd.read_csv("predict_future_sales/item_categories.csv") #Item Categories
items_df = pd.read_csv("predict_future_sales/items.csv", encoding='unicode_escape') # Items
salestrain_df = pd.read_csv("predict_future_sales/sales_train.csv") #Sales Data - Training
shops_df = pd.read_csv("predict_future_sales/shops.csv", encoding='unicode_escape') # Shops

In [18]:
# sample submission dataframe
sample_df = pd.read_csv('predict_future_sales/sample_submission.csv')

# test data frame
test_df = pd.read_csv('predict_future_sales/test.csv')

# Data EDA

In [19]:
# creating a master list of all dataframes
df_list = [itemcats_df, items_df, salestrain_df, shops_df]

In [20]:
# creating a loop to print head, description, info, and null sum for each datafram in master list 
for df in df_list:
    print(f'DATAFRAME HEAD: {df.head()}')
    print('-----------------------')
    print(f'DATAFRAME DESCRIPTION: {df.describe()}')
    print('-----------------------')
    print(f'DATAFAME INFO: {df.info()}')
    print('-----------------------')
    print(f'DATAFRAME NULL SUM: {df.isnull().sum()}')
    print('------------------------------------------------------------------------------')

DATAFRAME HEAD:            item_category_name  item_category_id
0  PC - Headsets / Headphones                 0
1           Accessories - PS2                 1
2           Accessories - PS3                 2
3           Accessories - PS4                 3
4           Accessories - PSP                 4
-----------------------
DATAFRAME DESCRIPTION:        item_category_id
count         84.000000
mean          41.500000
std           24.392622
min            0.000000
25%           20.750000
50%           41.500000
75%           62.250000
max           83.000000
-----------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   item_category_name  84 non-null     object
 1   item_category_id    84 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.4+ KB
DATAFAME INFO: None
-----------------------
DATAFRAME NULL SUM: item_category_name    0
item_category_id      0
dtype: int64
------------------------------------------------------------------------------
DATAFRAME HEAD:                                            item_name  item_id  item_category_id
0                       ! POWER IN glamor (PLAST.) D        0                40
1  ! ABBYY FineReader 12 Professional Edition Ful...        1                76
2                           *** In the glory (UNV) D        2                40
3                             *** BLUE WAVE (Univ) D        3                40
4                                  *** BOX (GLASS) D        4                40
-----------------------
DATAFRAME DESCRIPTION:            item_id  item_category_id
count  22170.00000      22170.000000
mean   11084.50000         46.290753
std     6400.07207         15.941486
min        0.00000          0.000000
25%     5542.25000         37.000000
50%    11084.50000         40.000000
75%    16626.75000         58.000000
max    22169.00000         83.000000
-----------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22170 entries, 0 to 22169
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   item_name         22170 non-null  object
 1   item_id           22170 non-null  int64
 2   item_category_id  22170 non-null  int64
dtypes: int64(2), object(1)
memory usage: 519.7+ KB
DATAFAME INFO: None
-----------------------
DATAFRAME NULL SUM: item_name           0
item_id             0
item_category_id    0
dtype: int64
------------------------------------------------------------------------------
DATAFRAME HEAD:          date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0
-----------------------
DATAFRAME DESCRIPTION:        date_block_num       shop_id       item_id    item_price  item_cnt_day
count    2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06
mean     1.456991e+01  3.300173e+01  1.019723e+04  8.908532e+02  1.242641e+00
std      9.422988e+00  1.622697e+01  6.324297e+03  1.729800e+03  2.618834e+00
min      0.000000e+00  0.000000e+00  0.000000e+00 -1.000000e+00 -2.200000e+01
25%      7.000000e+00  2.200000e+01  4.476000e+03  2.490000e+02  1.000000e+00
50%      1.400000e+01  3.100000e+01  9.343000e+03  3.990000e+02  1.000000e+00
75%      2.300000e+01  4.700000e+01  1.568400e+04  9.990000e+02  1.000000e+00
max      3.300000e+01  5.900000e+01  2.216900e+04  3.079800e+05  2.169000e+03
-----------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   date            object
 1   date_block_num  int64
 2   shop_id         int64
 3   item_id         int64
 4   item_price      float64
 5   item_cnt_day    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB
DATAFAME INFO: None
-----------------------
DATAFRAME NULL SUM: date              0
date_block_num    0
shop_id           0
item_id           0
item_price        0
item_cnt_day      0
dtype: int64
------------------------------------------------------------------------------
DATAFRAME HEAD:                            shop_name  shop_id
0  ! Yakutsk Ordzhonikidze, 56 Franc        0
1       ! Yakutsk TC "Central" Franc        1
2                   Adygea TC "Mega"        2
3   Balashikha TRC "October-Kinomir"        3
4         Volzhsky mall "Volga Mall"        4
-----------------------
DATAFRAME DESCRIPTION:          shop_id
count  60.000000
mean   29.500000
std    17.464249
min     0.000000
25%    14.750000
50%    29.500000
75%    44.250000
max    59.000000
-----------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   shop_name  60 non-null     object
 1   shop_id    60 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.1+ KB
DATAFAME INFO: None
-----------------------
DATAFRAME NULL SUM: shop_name    0
shop_id      0
dtype: int64
------------------------------------------------------------------------------

In [21]:
# checking itemcats_df column data types
itemcats_df.dtypes

item_category_name    object
item_category_id       int64
dtype: object

In [22]:
# checking item_df column data types
items_df.dtypes

item_name           object
item_id              int64
item_category_id     int64
dtype: object

In [23]:
# checking salestrain_df data types
salestrain_df.dtypes

date               object
date_block_num      int64
shop_id             int64
item_id             int64
item_price        float64
item_cnt_day      float64
dtype: object

In [24]:
# changing salestrain 'item_cnt_day' col from float64 -> int16
salestrain_df['item_cnt_day'] = pd.to_numeric(salestrain_df['item_cnt_day'], downcast='signed')

In [25]:
# changing salestrain 'date' col from object -> datetime
salestrain_df['date'] = pd.to_datetime(salestrain_df['date'])

In [26]:
shops_df.dtypes

shop_name    object
shop_id       int64
dtype: object

# Combine DFs

In [29]:
# combining training dataframes into master training set
salestrain_df_combined = salestrain_df.merge(items_df,on='item_id')
salestrain_df_combined = salestrain_df_combined.merge(itemcats_df,on='item_category_id')
salestrain_df_combined = salestrain_df_combined.merge(shops_df,on='shop_id')

In [30]:
salestrain_df_combined.isnull().sum()

date                  0
date_block_num        0
shop_id               0
item_id               0
item_price            0
item_cnt_day          0
item_name             0
item_category_id      0
item_category_name    0
shop_name             0
dtype: int64

In [32]:
# setting the id col, and 2 target cols based on testing data
id_col, target_col_item, target_col_shop = salestrain_df.index, salestrain_df_combined['item_id'], salestrain_df_combined['shop_id']

# Data Viz

In [33]:
# adding features for separating date
salestrain_df_combined['year'] = salestrain_df_combined.date.dt.year
salestrain_df_combined['month'] = salestrain_df_combined.date.dt.month
salestrain_df_combined['day'] = salestrain_df_combined.date.dt.day

# adding revenue feature
salestrain_df_combined['revenue'] = salestrain_df_combined.item_price * salestrain_df_combined.item_cnt_day
salestrain_df_combined.head()

        date  date_block_num  shop_id  item_id  ...  year  month day  revenue
0 2013-02-01               0       59    22154  ...  2013      2   1    999.0
1 2013-04-26               3       59      944  ...  2013      4  26    150.0
2 2013-06-26               5       59      944  ...  2013      6  26    199.5
3 2013-07-20               6       59      944  ...  2013      7  20    199.5
4 2013-09-14               8       59      944  ...  2013      9  14    598.0

[5 rows x 14 columns]